<!doctype html>
<html data-ng-app="app" lang="en-gb">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <nav class="Nav"></nav>
    <div data-ui-view></div>
  </body>
</html>
