html,
body {
  height: 100%;
}

body {
  color: black;
  background: white;
  font-family: sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibilty;
  line-height: 1.25;
}

img {
  display: block;
  max-width: 100%;
  height: auto !important;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 1.25em 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

input[type="text"] {
  border-radius: none;
}
