<!doctype html>
<html ng-app="app" lang="en-gb">
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div ui-view="banner"></div>
  <div ui-view></div>
</body>
</html>
