.ng-submitted input.ng-invalid,
.ng-dirty input.ng-invalid.ng-touched,
.ng-submitted textarea.ng-invalid,
.ng-dirty textarea.ng-invalid.ng-touched {
  background: pink;
}

.ng-dirty input.ng-invalid.ng-touched.ng-pristine,
.ng-dirty textarea.ng-invalid.ng-touched.ng-pristine {
  background: inherit;
}

.ng-submitted input.ng-invalid.ng-touched.ng-pristine,
.ng-submitted textarea.ng-invalid.ng-touched.ng-pristine {
  background: pink;
}
